/* .box1 {
  background-color: #FF0000;
  height: 200px;
  width: 200px;
  float: left;
}

.bg1 {
  background-color: #FFaaaa;
}

.bg2 {
  background-color: #ffbbbb;
}

.bg3 {
  background-color: #FFcccc;
}

.bg4 {
  background-color: #ffdddd;
} */